index{
    grid-area: ma;

    display: flex;
    flex-wrap: wrap;
    align-content: start;

    row-gap: 60px;

    background-color: #f8f4ec;
}

.startItem{
    width: 46%;
    min-height: fit-content;
    margin: 2%;

    box-sizing: border-box;
    border: #928977 solid 2px;
}
.startHeader{
    text-align: center;
    
    font-size: 38px;
    font-family: Optima,Segoe,Segoe UI,Candara,Calibri,Arial,sans-serif; 
    color: #928977;
}

.startBg{
    object-fit: cover;
    width: 100%;
    height: 80%;

    border-bottom: #928977 solid 2px;
}

#infoItem{
    width: 96%;
    min-height: auto;
}

#infoBg{
    height: 100%;
    border-bottom: 0px;
}

#infoContent{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
}

#infoHeader{
    text-align: center;

    font-size: 79px;
    font-family: Optima,Segoe,Segoe UI,Candara,Calibri,Arial,sans-serif; 
    color: white;
}

#infoPara{
    font-size: 30px;
    font-family: Arial Narrow,Arial,sans-serif; 
    color: white;
}

@media screen and (orientation:portrait) {
    .startHeader{
        font-size: 20px;
    }
    #infoContent{
        transform: translate(-50%, -60%);
    }
    #infoItem{
        height: 400px;
    }
    #infoHeader{
        font-size: 28px;
    }
    #infoPara{
        font-size: 15px;
    }
}